/*
 * Norwester
 */
@font-face {
  font-family: 'norwester';
  src: url('../fonts/norwester/norwester.eot'); /* IE9 Compat Modes */
  src: url('../fonts/norwester/norwester.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/norwester/norwester.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/norwester/norwester.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/norwester/norwester.svg#norwesterregular') format('svg'); /* Legacy iOS */
}
$font_norwester: 'norwester';


body{
  background-color: black;
  font-family: $font_norwester;
  margin-top: 1vw;
}

.logo{
  text-align: center;
  img{
    width: 19%;
    height: auto;
  }
}

.video-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: black;
  video{
    width: 100%;
    height: auto;
  }
}

.videos{

  .video-thumb{
    box-sizing: border-box;
    width: 25%;
    padding: 10px;
    float: left;
    h2{
      margin: 0 0 .7vw 0;
      color: white;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.8vw;
    }
    img{
      max-width: 100%;
    }
    &:hover{
      cursor: pointer;
    }
  }

}
